@using NRZMyk.Services.Data.Entities
@using NRZMyk.Components.SharedComponents.Input
@using NRZMyk.Services.Utils
@inherits CreateBase

<h2>@Title</h2>

@if (SentinelEntry == null)
{
    <p><em>Lade Datensatz...</em></p>
}
else
{
    <div>
        @if (SaveFailed)
        {
            <div class="alert alert-danger" role="alert">
                Fehler beim Speichern. Bitte versuchen sie es erneut oder wenden sie sich an den Administrator. (UTC-Zeitstempel: @DateTime.UtcNow.ToString("s"))
            </div>
        }
        <EditForm Model="SentinelEntry" OnValidSubmit="@SubmitClick">
            <DataAnnotationsValidator />
            
            <SelectEnumOrOther Label="Material" Key="materials" Other="Material.Other" OtherLabel="Anderes Material"
                               @bind-OtherValue="@SentinelEntry.OtherMaterial" @bind-Value="@SentinelEntry.Material"
                               ValidationFor="() => SentinelEntry.Material" />
            <SelectEnum Label="Alter des Patienten" @bind-Value="SentinelEntry.AgeGroup" ValidationFor="() => SentinelEntry.AgeGroup" />
            <SelectEnum Label="Geschlecht" @bind-Value="SentinelEntry.Gender" ValidationFor="() => SentinelEntry.Gender" />

            <div class="form-group row">
                <label class="control-label col-sm-4">Probenentnahme</label>
                <div class="col-sm-6">
                    <InputDate class="form-control" @bind-Value="SentinelEntry.SamplingDate" />
                    <ValidationMessage For="() => SentinelEntry.SamplingDate" />
                </div>
            </div>

            <InputTextWithValidation FieldName="Labornummer Einsender" @bind-Value="SentinelEntry.SenderLaboratoryNumber" For="() => SentinelEntry.SenderLaboratoryNumber" />

            <div class="form-group row">
                <SelectEnum Label="Station" AddFormRow="false" SelectClass="col-sm-3"
                            @bind-Value="@SentinelEntry.HospitalDepartmentType" ValidationFor="() => SentinelEntry.HospitalDepartmentType" />
                <SelectEnum AddFormRow="false" SelectClass="col-sm-3"
                            @bind-Value="@SentinelEntry.HospitalDepartment" ValidationFor="() => SentinelEntry.HospitalDepartment" />
            </div>
            
            <SelectEnumOrOther Label="Spezies" Key="species" Other="Species.Other" OtherLabel="Andere Spezies"
                               @bind-OtherValue="@SentinelEntry.OtherIdentifiedSpecies" @bind-Value="@SentinelEntry.IdentifiedSpecies"
                               ValidationFor="() => SentinelEntry.IdentifiedSpecies" />
            
            <SelectEnum Label="Methode Speziesidentifikation" @bind-Value="@SentinelEntry.SpeciesIdentificationMethod"
                        ValidationFor="() => SentinelEntry.SpeciesIdentificationMethod" />

            <div class="form-group row">
                <label class="col-form-label col-sm-4">Anmerkungen</label>
                <div class="col-sm-6">
                    <InputTextArea class="form-control" @bind-Value="SentinelEntry.Remark" />
                    <ValidationMessage For="() => SentinelEntry.Remark" />
                </div>
            </div>

            <h3>Tests</h3>
            <div class="form-group row">
                <div class="col-sm-3 col-lg-2">
                    <select class="form-control form-control-sm" @bind="TestingMethod">
                        @foreach (var testingMethod in TestingMethods())
                        {
                            <option value="@testingMethod">@EnumUtils.GetEnumDescription(testingMethod)</option>
                        }
                    </select>
                </div>
                <div class="col-sm-3 col-lg-2">
                    <select class="form-control form-control-sm" @bind="AntifungalAgent">
                        @foreach (var antifungalAgent in AntifungalAgents())
                        {
                            <option value="@antifungalAgent">@EnumUtils.GetEnumDescription(antifungalAgent)</option>
                        }
                    </select>
                </div>
                <div class="col-sm-3 col-lg-2">
                    <select class="form-control form-control-sm" @bind="Standard">
                        @foreach (var standard in EnumUtils.AllEnumValues<BrothMicrodilutionStandard>().Where(t => t != BrothMicrodilutionStandard.None))
                        {
                            <option value="@standard">@EnumUtils.GetEnumDescription(standard)</option>
                        }
                    </select>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <button type="button" id="addAntimicrobialSensitivityTest" class="btn btn-sm btn-outline-secondary" @onclick="AddAntimicrobialSensitivityTest">Neuer MHK Eintrag</button>
                </div>
            </div>

            @foreach (var sensitivityTest in RecalculateResistance())
            {
                <div class="form-group row">
                    <div class="col-sm-3 col-md-4 col-lg-3 col-xl-2">
                        <p class="form-control-plaintext form-control-sm">
                            <b>@EnumUtils.GetEnumDescription(sensitivityTest.TestingMethod)</b> - @sensitivityTest.AntifungalAgent -
                            <span class="badge badge-pill">
                                @EnumUtils.GetEnumDescription(sensitivityTest.Standard)
                            </span>
                        </p>
                    </div>

                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-2">
                        <div class="input-group mb-2 mr-sm-2 input-group-sm">
                            <div class="input-group-prepend">
                                <div class="input-group-text">MHK</div>
                            </div>
                            @if (MicSteps(sensitivityTest).Any())
                            {
                                <InputSelectNumber class="form-control form-control-sm" @bind-Value="sensitivityTest.MinimumInhibitoryConcentration">
                                    @foreach (var micStep in MicSteps(sensitivityTest))
                                                {
                                        <option value="@micStep.Value">@micStep.Title</option>
                                                }
                                </InputSelectNumber>
                            }
                            else
                            {
                                <InputNumber class="form-control form-control-sm" @bind-Value="sensitivityTest.MinimumInhibitoryConcentration"></InputNumber>
                            }
                        </div>
                    </div>
                    @if (ApplicableBreakpoints(sensitivityTest).Any())
                    {
                        <div class="col-sm-5 col-md-4 col-lg-4 col-xl-3">
                            <InputSelectNumber class="form-control  form-control-sm" @bind-Value="sensitivityTest.ClinicalBreakpointId">
                                @foreach (var breakpoint in ApplicableBreakpoints(sensitivityTest))
                                            {
                                    <option value="@breakpoint.Id">@breakpoint.Title</option>
                                            }
                            </InputSelectNumber>
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1">
                            <p class="form-control-plaintext form-control-sm">
                                <span class="badge @(ResistanceBadge(sensitivityTest))">
                                    @EnumUtils.GetEnumDescription(sensitivityTest.Resistance)
                                </span>
                            </p>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-6 col-md-5 col-lg-5 col-xl-4">
                            <p class="form-control-plaintext">
                                Kein Breakpoint für Antimykotikum <i>"@EnumUtils.GetEnumDescription(sensitivityTest.AntifungalAgent)"</i>
                                und Spezies <i>"@EnumUtils.GetEnumDescription(SentinelEntry.IdentifiedSpecies)"</i> verfügbar.
                            </p>
                        </div>
                    }
                </div>
            }

            <div class="form-group row">
                <div class="col-sm-6">
                    <a href="" @onclick="() => OnCloseClick.InvokeAsync(null)" @onclick:preventDefault class="btn btn-secondary">
                        Abbrechen
                    </a>
                    <button type="submit" class="btn btn-primary">
                        @PrimaryAction
                    </button>
                </div>
            </div>
        </EditForm>
    </div>
}