@page "/sentinel-entries"
@attribute [Authorize]
@inject SentinelEntryService SentinelEntryService
@using NRZMyk.Services.Data.Entities
@using NRZMyk.Services.Services
@using NRZMyk.Services.Utils
@inherits NRZMyk.Components.Helpers.BlazorComponent
@namespace NRZMyk.Components.Pages.SentinelEntryPage

<h1>Sentinel Daten</h1>

@if (sentinelEntries == null)
{
    <p><em>Lädt...</em></p>
}
else
{
    @if (!showCreate && !showDetails && !showEdit && !showDelete)
    {
        <p class="esh-link-wrapper">
            <button class="btn btn-primary" @onclick="@(() => CreateClick())">
                Neu anlegen
            </button>
        </p>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Material</th>
                    <th>Alter</th>
                    <th>Probennahme</th>
                    <th>Labornummer</th>
                    <th>Station </th>
                    <th>Spezies</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in sentinelEntries)
                {
                <tr @onclick="() => DetailsClick(item.Id)">
                    <td>@EnumUtils.GetEnumDescription(item.Material)</td>
                    <td>@EnumUtils.GetEnumDescription(item.AgeGroup)</td>
                    <td>
                        @if (item.SamplingDate.HasValue)
                        {
                            @item.SamplingDate.Value.ToShortDateString();
                        }
                    </td>
                    <td>@item.SenderLaboratoryNumber</td>
                    <td>@EnumUtils.GetEnumDescription(item.HospitalDepartmentType), @EnumUtils.GetEnumDescription(item.HospitalDepartment)</td>
                    <td>@EnumUtils.GetEnumDescription(item.IdentifiedSpecies)</td>
                    <td>
                        <a href="" @onclick="() => EditClick(item.Id)" @onclick:preventDefault class="btn btn-primary">
                            Bearbeiten
                        </a>

                        @*<a href="" @onclick="@(() => DeleteClick(item.Id))" @onclick:preventDefault class="btn btn-primary">
                            Delete
                        </a>*@
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    @if (showDetails)
    {
        @*<Details Id="@selectedId" Brands="@catalogBrands" Types="@catalogTypes" OnCloseClick="CloseDetailsHandler" OnEditClick="EditDetailsHandler"></Details>*@
    }

    @if (showEdit)
    {
        <Create Id="@selectedId" OnCloseClick="CloseEditHandler"></Create>
    }

    @if (showCreate)
    {
       <Create OnCloseClick="CloseCreateHandler"></Create>
    }

    @if (showDelete)
    {
        @*<Delete Id="@selectedId" Brands="@catalogBrands" Types="@catalogTypes" OnCloseClick="CloseDeleteHandler"></Delete>*@
    }
}

@code
{
    private List<SentinelEntry> sentinelEntries;
    private bool showCreate;
    private bool showDetails;
    private bool showEdit;
    private bool showDelete;
    private int selectedId = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            sentinelEntries = await SentinelEntryService.ListPaged(50);

            CallRequestRefresh();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private void DetailsClick(int id)
    {
        selectedId = id;
        //showDetails = true;
    }

    private void CreateClick()
    {
        showCreate = true;
    }

    private void EditClick(int id)
    {
        selectedId = id;
        showEdit = true;
    }

    private void DeleteClick(int id)
    {
        selectedId = id;
        showDelete = true;
    }

    private async Task CloseDetailsHandler(string action)
    {
        showDetails = false;
        await ReloadCatalogItems();
    }

    private void EditDetailsHandler(int id)
    {
        showDetails = false;
        selectedId = id;
        showEdit = true;
    }

    private async Task CloseEditHandler(string action)
    {
        showEdit = false;
        await ReloadCatalogItems();
    }

    private async Task CloseDeleteHandler(string action)
    {
        showDelete = false;
        await ReloadCatalogItems();
    }

    private async Task CloseCreateHandler(string action)
    {
        showCreate = false;
        await ReloadCatalogItems();
    }

    private async Task ReloadCatalogItems()
    {
        sentinelEntries = await SentinelEntryService.ListPaged(50);
        StateHasChanged();
    }
}
